app/config/config.php
app/config/default.php
app/cache/
app/log/
app/upload/
public/image/
public/wptheme/

composer.phar

composer.json

composer.lock

app/module/sesxion/

public/theme/sesxion/
public/autosize-master/

vendor/

.gitignore


